{{ $parts := split .Destination "#" }}
{{ $src := index $parts 0 | safeURL }}
{{ $classes := slice "article-figure" }}

{{ range after 1 $parts }}
  {{ $classes = $classes | append (printf "img-%s" .) }}
{{ end }}

<figure class="{{ delimit $classes " " }}">
  <a class="figure-link" href="{{ $src }}" target="_blank" rel="noopener noreferrer" aria-label="Open image in a new tab: {{ .Text }}">
    <img loading="lazy" decoding="async" alt="{{ .Text }}" src="{{ $src }}">
  </a>
  {{ with .Title }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
